@charset "utf-8";

/* font */
@font-face{
	font-family:'Notosans';
	font-style:normal;
	font-weight:400;
	src:url('../font/NotoSans-Regular.eot');
	src:local('※'),
		url('../font/NotoSans-Regular.woff') format('woff'),
		url('../font/NotoSans-Regular.woff2') format('woff2'),
		url('../font/NotoSans-Regular.otf') format('opentype');
}

@font-face{
	font-family:'Notosans';
	font-style:normal;
	font-weight:500;
	src:url('../font/NotoSansCJKkr-Medium.eot');
	src:local('※'),
		url('../font/NotoSansCJKkr-Medium.woff') format('woff'),
		url('../font/NotoSansCJKkr-Medium.woff2') format('woff2'),
		url('../font/NotoSansCJKkr-Medium.otf') format('opentype');
}

html {margin:0;padding:0;height:100%}
body {margin:0;padding:0;width:100%;height:100%;font-family:'Notosans', '맑은 고딕','malgun gothic','돋움',dotum,sans-serif;font-size:13px;font-weight:400;line-height:1.2;letter-spacing:-1px;color:#666666;}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button,textarea,select {margin:0;padding:0}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
img {border:0;vertical-align:top}
ul,ol,dl,dt,dd,li {list-style:none; word-break:break-word}
table {width:100%; table-layout:fixed}
table, th, td {border-collapse:collapse;border-spacing:0; border:0; font-weight:normal;word-wrap:break-word}
caption {overflow:hidden;width:0; height:0;font-size:0;line-height:0}
legend {overflow:hidden;width:0; height:0;font-size:0;line-height:0;}
fieldset, blockquote, iframe, button {border:none}
i, em, u, cite {font-style:normal}
strong,em, b {font-weight:normal}
a {color:#666;text-decoration:none;}
button {width:auto; border:none;cursor:pointer;vertical-align:middle;margin:0; padding:0; outline:none; overflow:visible; background:none; letter-spacing:-1px}
button::-moz-focus-inner {margin:0;padding:0;border:0}
button > span {position:relative}
button,input[type="submit"], input[type="button"], input[type="reset"] {cursor:pointer; border:0}
select {appearance: none; -webkit-appearance: none; -moz-appearance: none; }
select::-ms-expand { display:none; }
textarea, select, input[type="text"], input[type="button"], input[type="submit"], input[type="reset"], input[type="search"] {-webkit-appearance: none; border-radius: 0;}

.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}

.mtp0{margin-top:0px !important;}
.mtp10{margin-top:10px !important;}
.mtp20{margin-top:20px !important;}
.mtp30{margin-top:30px !important;}
.mtp40{margin-top:40px !important;}
.mtp50{margin-top:50px !important;}

.header_wrap {width:100%; height:4.2rem; padding-top:1.3rem; box-sizing: border-box; text-align: center; background-color:#333f4f;}
.header_wrap h1 {display:inline-block; font-weight:500; font-size:1.3rem; color:#fff; margin:0 auto; padding-left:33px; background: url('../image/ico_title.png') left center no-repeat;}

.content_wrap {width:100%; margin:0 auto; padding:0 6.5% 8%; box-sizing: border-box;}

.basic_tbl th, .basic_tbl td {padding:1.5rem 0 0; vertical-align: middle;}
.basic_tbl th {text-align: left; font-weight: 500; font-size:1rem; color:#333333;}
.basic_tbl input[type="text"] {width:100%; height:38px; box-sizing: border-box; font-size:1rem; color:inherit; line-height: 36px; border:1px solid #bcbfc1; padding:0 12px;}
.basic_tbl input[type="text"].tel_num {width:calc((100% - 24px)/3); margin-left:10px;}
.basic_tbl input[type="radio"] + label {font-size:1rem; color:#333; line-height:23px; padding-left:38px; background: url('../image/radio_btn.png') left center no-repeat; cursor:pointer;}
.basic_tbl input[type="radio"]:checked + label {background: url('../image/radio_btn_checked.png') left center no-repeat;}
.basic_tbl input[type="radio"] {display:none;}
.basic_tbl .ml {margin-left:32px;}
.basic_tbl select {width:calc((100% - 24px)/3); height:38px; box-sizing: border-box; font-size: 1rem; color:inherit; line-height: 36px; border:1px solid #bcbfc1; padding-left:12px; background: url('../image/select_arrow.png') 85% center no-repeat;}

.chkbx input[type="checkbox"] + label {display:inline-block; font-weight: 500; font-size:1rem; color:#333333; line-height: 22px; padding-left:30px; background: url('../image/checkbox.png') left center no-repeat;}
.chkbx input[type="checkbox"]:checked + label {background: url('../image/checkbox_checked.png') left center no-repeat;}
.chkbx input[type="checkbox"] {display:none;}
.handi_info {font-size:1rem; margin-top:8px; padding-left:30px;}

.privacy {width:100%; height:185px; font-size:1rem; line-height: 1.8; box-sizing: border-box; border:1px solid #bcbfc1; padding:15px 22px; overflow-y: scroll;}
.privacy::-webkit-scrollbar {-webkit-appearance: none; width: 7px;}
.privacy::-webkit-scrollbar-thumb {border-radius: 4px; background-color: rgba(188, 191, 193, .5); -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);}

input[id="submit"] {width:100%; height:50px; line-height: 50px; text-align: center; font-size:1.3rem; color:#ffffff; background-color:#f35347;}

